swagger: '2.0'
info:
  version: 1.0.0
  title: RBKmoney Binbase API
  description: >
    ## Описание

    RBKmoney Binbase API является точкой взаимодействия с
    сервисом поиска BIN по номеру банковской карты. Все запросы осуществляются с
    помощью вызовов соответствующих методов API. Любые сторонние приложения,
    включая наши веб-сайты, личные кабинеты и другие UI-интерфейсы являются внешними
    приложениями-клиентами.

    RBKmoney Binbase API работает поверх HTTP-протокола. Мы используем REST архитектуру,
    схема описывается в соответствии со [Swagger](http://swagger.io/). Коды
    возврата описываются соответствующими HTTP-статусами. Платформа принимает и
    возвращает JSON-структуры в HTTP body.

    ## Запросы

    Любой вызов методов API обязан предваряться предоставлением уникального для
    участника в пределах платформы ID запроса. Данный ID передается в
    соответствующем заголовке HTTP-запроса:

    ```
     X-Request-ID: oX5MWM2AQy
    ```

    Платформа гарантирует идемпотентность запросов, отправленных с одинаковым
    ID.

    ## Тип содержимого и кодировка

    Любой запрос к API должен выполняться в кодировке UTF-8 и с указанием
    содержимого в формате JSON

    ```
      Content-Type: application/json; charset=utf-8
    ```

    ## Максимальное время обработки запроса

    К любому вызову методов API можно добавить параметр отсечки по времени,
    определяющий максимальное время ожидания завершения операции по запросу.
    Данная отсечка передается в соответствующем заголовке HTTP-запроса:

    ```
     X-Request-Deadline: 10s
    ```

    Значение отсечки может быть задано в формате ISO 8601 (см. [Формат
    дат](#section/Format-dat)), либо в относительных величинах, например:

    `150000ms`, `540s`, `3.5m` При этом возможные единицы измерения `ms`, `s`,
    `m`. В обоих случаях  не рекомендуется, чтобы задаваемое значение было
    меньше **3 секунд** и превышало **1 минуту**.
  termsOfService: 'https://rbk.money/'
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: 'https://api.rbk.money'
host: api.rbk.money
basePath: /binbase
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: >
      Для аутентификации вызовов мы используем [JWT](https://jwt.io).
      Cоответствующий ключ передается в заголовке.

      ```shell
       Authorization: Bearer {JWT}
      ```

      Посмотреть ваш API-ключ вы можете в [личном
      кабинете](https://dashboard.rbk.money/).


      Помните, что вы никому не должны передавать ваш API ключ!
security:
  - bearer: []
responses:
  Unauthorized:
    description: Ошибка авторизации
  DefaultLogicError:
    description: Неверные данные
    schema:
      $ref: '#/definitions/DefaultLogicError'
parameters:
  requestID:
    name: X-Request-ID
    in: header
    description: Уникальный идентификатор запроса к системе
    required: true
    type: string
    maxLength: 32
    minLength: 1
  deadline:
    name: X-Request-Deadline
    in: header
    description: Максимальное время обработки запроса
    required: false
    type: string
    maxLength: 40
    minLength: 1
tags:
  - name: Search
    x-displayName: Поиск
    description: >
      Для получения списка всех инвойсов/платежей указанного магазина необходимо
      вызвать соответствующий метод платформы. Имеется возможность отфильтровать
      выборку по определенным статусам.
  - name: Error Codes
    x-displayName: Коды ошибок
    description: >

      ## Ошибки бизнес-логики

      Все ошибки бизнес-логики имеют следуюший вид:

        ```json
        {
          "code": "string",
          "message": "string"
        }
        ```

      В поле `code` содержится тип ошибки, а в `message` - дополнительная
      информация по произошедшей ошибке.

      На данный момент существуют следующие коды ошибок:

        | Код                              | Описание                                                                                                                              |
        | ---                              | --------                                                                                                                              |
        | **invalidDeadline**              | Неверный формат времени.                                                                                                       |
        | **invalidRequest**               | Прочие неверные данные запроса.                                                                                                       |

      ## Общие ошибки

      Ошибки возникающие при попытках совершения операций с
      незарегистрированными в системе объектами. Имеют вид

        ```json
        {
            "message": "string"
        }
        ```

      В поле `message` содержится информация по произошедшей ошибке. Например:

        ```json
        {
            "message": "Invalid token"
        }
        ```

      ## Ошибки обработки запросов

      В процессе обработки запросов силами нашей платформы могут происходить
      различные непредвиденные ситуации. Об их появлении платформа сигнализирует
      по протоколу HTTP соответствующими [статусами][5xx], обозначающими ошибки
      сервера.

        |  Код    |  Описание  |
        | ------- | ---------- |
        | **500** | В процессе обработки платформой запроса возникла непредвиденная ситуация. При получении подобного кода ответа мы рекомендуем обратиться в техническую поддержку. |
        | **503** | Платформа временно недоступна и не готова обслуживать данный запрос. Запрос гарантированно не выполнен, при получении подобного кода ответа попробуйте выполнить его позднее, когда доступность платформы будет восстановлена. |
        | **504** | Платформа превысила допустимое время обработки запроса, результат запроса не определён. Попробуйте отправить запрос повторно или выяснить результат выполнения исходного запроса, если повторное исполнение запроса нежелательно. |

      [5xx]: https://tools.ietf.org/html/rfc7231#section-6.6


      Если вы получили ошибку, которой нет в данном описании, обратитесь в
      техническую поддержку.
